<template>
    <div  class="row">
    <spinner v-show="loadig"></spinner>
        <div class="col-sm" v-for="pokemon in pokemons">
            <div class="card text-center" style="width: 18rem; margin-top: 70px;">
                <img style="height: 100px; width: 100px; background-color: #EFEFEF;
                margin: 20px;" class="card-img-top rounded-circle mx-auto d-block" v-bind:src="pokemon.picture" alt="">
                <div class="card-body">
                    <h5 class="card-tittle">{{pokemon.name}}</h5>
                    <p class="card-text">
                        descripcion
                    </p>
                    <a href="/trainers/" class="btn btn-primary"> ver mas...</a>
                </div> 
            </div>
        </div>
    </div>
</template>
 
<script>
import EventBus from '../event-bus';
    export default {
        data(){
            return{
                pokemons: [],
                loadig: true
            }
        },
        created(){
            EventBus.$on('pokemon-added', data=>{
                this.pokemons.push(data)
            })
        },
        methods:{
            editPokemon(pokemon){
                $('#updatePokemon').modal()
                EventBus.$emit('edit-pokemon',pokemon)
            }
        },
        mounted() {
             let currentRoute= window.location.pathname
            axios
                .get(`http://prueba.test${currentRoute}/pokemons`)
                .then((res)=>{
                    console.log(res);
                    this.pokemons = res.data
                    this.loadig=false
                })
        }
    }
</script>
